__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.DS_Store

database/*.db
data/raw/*.csv
data/processed/*.csv
data/output/*.csv
data/output/*.xlsx
data/output/*.log
data/output/powerbi/*.csv
pipeline.log
